__pycache__
*.py[cod]
*$py.class
*.egg-info
.installed.cfg
*.egg
htmlcov
.tox/
.pytest_cache
.mypy_cache
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover
.hypothesis
xunit-*.xml
.idea
venv
.venv
.vagrant
.direnv
site
.git
.github
result