.venv
venv
.vagrant
.pytest_cache
.git
.github
.idea
assets
**/__pycache__/
**/*.pyc
*.egg-info/
.installed.cfg
*.egg
.cache
flake8_code_errors.txt
pep257_violations.txt
pep8_violations.txt
code_complexity.txt
xunit-*.xml
lib