name: Build Docs

on:
  push:
    branches:
      - master

env:
  UV_INSTALL_DIR: /tmp/uv
  UV_BINARY: /tmp/uv/uv
  UV_PROJECT_ENVIRONMENT: /tmp/uv/store

jobs:
  build-docs:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6
      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: 3.11
      - name: Load uv cache
        id: uv-cache
        uses: actions/cache@v5
        with:
          path: ${{ env.UV_INSTALL_DIR }}
          key: ${{ runner.os }}-3.11-${{ hashFiles('./pyproject.toml') }}-${{ hashFiles('./uv.lock') }}
      - name: Build documentation
        run: make docs
      - name: Archive build artifacts
        uses: actions/upload-artifact@v6
        with:
          name: ${{ format('docs-{0}', github.sha) }}
          path: site
          retention-days: 60
      - name: Deploy to GitHub Pages
        uses: crazy-max/ghaction-github-pages@v4
        with:
          target_branch: gh-pages
          build_dir: site
          commit_message: "Deploy to GitHubPages"
          jekyll: false
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
