name: CI

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

env:
  UV_INSTALL_DIR: /tmp/uv
  UV_BINARY: /tmp/uv/uv
  UV_PROJECT_ENVIRONMENT: /tmp/uv/store
  DEFAULT_PYTHON: '3.11'

jobs:
  # This job checks if an identical workflow is being triggered by different
  # event and skips it. For instance there is no need to run the same pipeline
  # twice for pull_request and push for identical commit sha.
  pre_job:
    runs-on: ubuntu-latest
    outputs:
      should_skip: ${{ steps.skip_check.outputs.should_skip }}
    steps:
      - id: skip_check
        uses: fkirc/skip-duplicate-actions@v5.3.0
        with:
          skip_after_successful_duplicate: 'true'
          concurrent_skipping: same_content
          do_not_skip: '["pull_request", "workflow_dispatch", "schedule"]'
  install:
    needs: pre_job
    if: ${{ needs.pre_job.outputs.should_skip != 'true' }}
    strategy:
      matrix:
        python-version: [ '3.10', '3.11', '3.12' ]
        os: [ubuntu-latest, macos-15]
    runs-on: ${{ matrix.os }}

    steps:
      - uses: actions/checkout@v6
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.python-version }}
      - name: Init uv cache
        id: cached-uv
        uses: actions/cache@v5
        with:
          path: ${{ env.UV_INSTALL_DIR }}
          key: ${{ runner.os }}-${{ matrix.python-version }}-${{ hashFiles('./pyproject.toml') }}-${{ hashFiles('./uv.lock') }}
      - name: Install package
        run: make install
        if: steps.cached-uv.outputs.cache-hit != 'true'
  build:
    needs: install
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6
      - name: Set up Python ${{ env.DEFAULT_PYTHON }}
        uses: actions/setup-python@v6
        with:
          python-version: ${{ env.DEFAULT_PYTHON }}
      - name: Load uv cache
        uses: actions/cache@v5
        with:
          path: ${{ env.UV_INSTALL_DIR }}
          key: ${{ runner.os }}-${{ env.DEFAULT_PYTHON }}-${{ hashFiles('./pyproject.toml') }}-${{ hashFiles('./uv.lock') }}
      - name: Build wheel
        run: make build
      - name: Archive build artifacts
        uses: actions/upload-artifact@v6
        with:
          name: ${{ format('fastapi_mvc-{0}', github.sha) }}
          path: dist
          retention-days: 60
  coverage:
    needs: install
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6
      - name: Set up Python ${{ env.DEFAULT_PYTHON }}
        uses: actions/setup-python@v6
        with:
          python-version: ${{ env.DEFAULT_PYTHON }}
      - name: Load uv cache
        uses: actions/cache@v5
        with:
          path: ${{ env.UV_INSTALL_DIR }}
          key: ${{ runner.os }}-${{ env.DEFAULT_PYTHON }}-${{ hashFiles('./pyproject.toml') }}-${{ hashFiles('./uv.lock') }}
      - name: Run fastapi-mvc coverage
        run: make coverage
      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v5
        with:
          fail_ci_if_error: true
          files: ./coverage.xml
          token: ${{ secrets.CODECOV_TOKEN }}
  metrics:
    needs: install
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6
      - name: Set up Python ${{ env.DEFAULT_PYTHON }}
        uses: actions/setup-python@v6
        with:
          python-version: ${{ env.DEFAULT_PYTHON }}
      - name: Load uv cache
        uses: actions/cache@v5
        with:
          path: ${{ env.UV_INSTALL_DIR }}
          key: ${{ runner.os }}-${{ env.DEFAULT_PYTHON }}-${{ hashFiles('./pyproject.toml') }}-${{ hashFiles('./uv.lock') }}
      - name: Run metrics checks
        run: make metrics
  mypy:
    needs: install
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6
      - name: Set up Python ${{ env.DEFAULT_PYTHON }}
        uses: actions/setup-python@v6
        with:
          python-version: ${{ env.DEFAULT_PYTHON }}
      - name: Load uv cache
        uses: actions/cache@v5
        with:
          path: ${{ env.UV_INSTALL_DIR }}
          key: ${{ runner.os }}-${{ env.DEFAULT_PYTHON }}-${{ hashFiles('./pyproject.toml') }}-${{ hashFiles('./uv.lock') }}
      - name: Run mypy checks
        run: make mypy
  unit-tests:
    needs: install
    strategy:
      fail-fast: false
      matrix:
        python-version: [ '3.10', '3.11', '3.12' ]
        os: [ubuntu-latest, macos-15]
    runs-on: ${{ matrix.os }}

    steps:
      - uses: actions/checkout@v6
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.python-version }}
      - name: Load uv cache
        uses: actions/cache@v5
        with:
          path: ${{ env.UV_INSTALL_DIR }}
          key: ${{ runner.os }}-${{ matrix.python-version }}-${{ hashFiles('./pyproject.toml') }}-${{ hashFiles('./uv.lock') }}
      - name: Run unit tests
        run: make unit-test
  integration-tests:
    needs: install
    strategy:
      fail-fast: false
      matrix:
        python-version: [ '3.10', '3.11', '3.12' ]
        os: [ubuntu-latest, macos-15]
    runs-on: ${{ matrix.os }}

    steps:
      - uses: actions/checkout@v6
      - name: Set up GNU coreutils on macos runner
        if: matrix.os == 'macos-15'
        run: |
          brew install coreutils
          echo "/usr/local/opt/coreutils/libexec/gnubin" >> $GITHUB_PATH
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.python-version }}
      - name: Load uv cache
        uses: actions/cache@v5
        with:
          path: ${{ env.UV_INSTALL_DIR }}
          key: ${{ runner.os }}-${{ matrix.python-version }}-${{ hashFiles('./pyproject.toml') }}-${{ hashFiles('./uv.lock') }}
      - name: Run integration tests
        run: make integration-test